extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a.navbar-brand(href="/") MEANJS
          li
            a(href="/") Home
          li(ng-show="identity.isAuthenticated()")
            a(href="/admin/users") Only for Admins
          li(ng-hide="identity.isAuthenticated()")
            a(href="/login") Log In
          li(ng-show="identity.isAuthenticated()")
            a(ng-click="signout()") Sign Out
          li(ng-hide="identity.isAuthenticated()")
            a(href="/signup") Sign Up
  section.content
    div(ng-view)

  footer.container.text-center
    p &copy; 2017 MEANjs.